/.gradle
/.idea/
/build/
/gradle/
/slidingmenu_library/
/umeng_share_library/
gen/
pM/build/generated/assets/
pM/build/generated/res/
pM/build/generated/source/aidl/
pM/build/generated/source/apt/
pM/build/generated/source/r/androidTest/
pM/build/generated/source/rs/
pM/build/intermediates/blame/res/androidTest/
pM/build/intermediates/dependency-cache/
pM/build/intermediates/exploded-aar/PM2.5_805/slidingmenu_library/unspecified/aidl/
pM/build/intermediates/exploded-aar/PM2.5_805/slidingmenu_library/unspecified/assets/
pM/build/intermediates/exploded-aar/PM2.5_805/slidingmenu_library/unspecified/jni/
pM/build/intermediates/exploded-aar/PM2.5_805/slidingmenu_library/unspecified/libs/
pM/build/intermediates/exploded-aar/PM2.5_805/umeng_share_library/unspecified/aidl/
pM/build/intermediates/exploded-aar/PM2.5_805/umeng_share_library/unspecified/assets/
pM/build/intermediates/exploded-aar/PM2.5_805/umeng_share_library/unspecified/jni/
pM/build/intermediates/exploded-aar/PM2.5_805/umeng_share_library/unspecified/libs/
pM/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.1.0/aidl/
pM/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.1.0/assets/
pM/build/intermediates/exploded-aar/com.android.support/support-v4/23.1.0/assets/
pM/build/intermediates/exploded-aar/com.android.support/support-v4/23.1.0/libs/
pM/build/intermediates/exploded-aar/com.android.support/support-v4/23.1.0/res/
pM/build/intermediates/exploded-aar/com.github.lecho/hellocharts-library/1.5.8/aidl/
pM/build/intermediates/exploded-aar/com.github.lecho/hellocharts-library/1.5.8/assets/
pM/build/intermediates/exploded-aar/com.github.lecho/hellocharts-library/1.5.8/res/
pM/build/intermediates/exploded-aar/com.github.orhanobut/logger/1.12/aidl/
pM/build/intermediates/exploded-aar/com.github.orhanobut/logger/1.12/assets/
pM/build/intermediates/exploded-aar/com.github.orhanobut/logger/1.12/res/
pM/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
pM/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
pM/build/intermediates/incremental/mergeDebugResources/aapt-temp/
pM/build/intermediates/incremental/packageDebugAndroidTest/
pM/build/intermediates/incremental/packageRelease/
pM/build/intermediates/incremental/processDebugAndroidTestResources/
pM/build/intermediates/incremental/processDebugResources/
pM/build/intermediates/manifest/tmp/
pM/build/intermediates/reload-dex/
pM/build/intermediates/res/merged/androidTest/
pM/build/intermediates/rs/
pM/build/intermediates/shaders/
pM/build/intermediates/symbols/androidTest/
pM/build/intermediates/transforms/instantRun/debug/folders/4000/
pM/build/outputs/apk/
pM/build/tmp/
pM/libs/
pM/build/

